<h2 mat-dialog-title>New Chat</h2>
<mat-dialog-content class="!pt-4">
  <mat-form-field class="w-full mt-2" appearance="outline">
    <mat-label>Enter a Username</mat-label>
    <input matInput [formControl]="username" />
    @if (username.hasError('required')) {
      <mat-error>Username is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-full mt-2" appearance="outline">
    <mat-label>Select AI Model</mat-label>
    <mat-select [formControl]="modelProvider">
      <mat-option value="claude">Claude</mat-option>
      <mat-option value="genkit-claude">GenKit-Claude</mat-option>
      <mat-option value="gpt-5">GPT-5</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancel</button>
  <button
    matButton
    [disabled]="username.hasError('required')"
    [mat-dialog-close]="{ username: username.value, modelProvider: modelProvider.value }"
    cdkFocusInitial
  >
    Create Chat
  </button>
</mat-dialog-actions>
